doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Medi
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="assets/css/style.css")
    body
        .page
            section.props__section
                .container
                    h2.props__title Модульная конструкция стелек igli
                    .props__inner
                        .props__image
                            .image__point.props__point--1(data-point="1")
                                img(src="assets/images/point.svg", alt="point")
                                p
                            .image__point.props__point--2(data-point="2")
                                img(src="assets/images/point.svg", alt="point")
                                p
                            .image__point.props__point--3(data-point="3")
                                img(src="assets/images/point.svg", alt="point")
                                p
                            img(src="assets/images/image-1.png", alt="image")
                        .props__block
                            p.props__subtitle Разные стельки отличаются друг от друга толщиной карбоновой основы и мягкого ложа, а также свободно размещаемыми элементами (постингами).
                            ul.props__list
                                li.props__item(data-point="1")
                                    h4.props__item-title 1. Карбоновая основа
                                    span.props__item-text Сохраняет естественную подвижность стопы, а также позволяет мышцам стопы и голени активно работать на всех этапах шага.
                                li.props__item(data-point="2")
                                    h4.props__item-title 2. Постинги
                                    span.props__item-text Опорно-корригирующие элементы устанавливаются специалистом с учетом особенностей конкретной стопы. Форму и размеры постингов можно менять, что позволяет разделить коррекцию на этапы. Постепенное изменение биомеханики переносится комфортнее и является естественным для опорно-двигательной системы.
                                li.props__item(data-point="3")
                                    h4.props__item-title  3. Мягкое полимерное ложе
                                    span.props__item-text Приятное коже покрытие обеспечивает комфорт при использовании в течение всего дня.

    script(src="assets/js/app.js")








